@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Press+Start+2P&family=Syne+Mono&display=swap');
body {
    background-image: url('./img/matescura.jpg')
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    color: #c795df;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

label {
    font-family: 'Syne Mono', monospace;
    font-size: 1.5em;
    color: #f3c9eb;
    padding: 0;
    text-shadow: -1px -1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000;
}

button {
    
    cursor: pointer;
    font-family: 'Syne Mono', monospace;
    color: #c795df;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(91, 2, 131, 1) 0%, rgba(180, 5, 203, 0.8690826672465861) 41%, rgba(191, 7, 232, 0.8718837876947654) 100%);
    display: flex;
    align-content: center;
    border-radius: 2em;
    padding: 2em;
    
}
